.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db


__pycache__/
.env
*.pyc
*.db
.idea/
.vscode/
logs/
airflow.db
.docker/
local_airflow/venv/
.dbt/
dbt_packages/

developer_notes.txt