# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astronomer-cosmos==1.10.0
dbt-core==1.9.4
dbt-postgres==1.9.0
pandas==2.2.3
requests==2.32.3